* {
margin: 0;
padding: 0;
font-family: sans-serif;
}
.chartMenu {
width: 100vw;
height: 40px;
background: #1A1A1A;
color: rgba(255, 26, 104, 1);
}
#title{
position: relative;
text-align: center;
color: snow;
}
.chartMenu p {
padding: 10px;
font-size: 20px;
}
.chartCard {
width: 100vw;
height: calc(100vh - 40px);
background: rgba(186, 0, 0, 0.81);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.chartList{
width: 80%;
height: 35%;
list-style: none;
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-bottom: 5%;
}
.chartBox {
width: 40%;
height: 100%;
padding: 20px;
border-radius: 20px;
border: solid 3px rgb(0, 0, 0);
background: white;
}